:root{
    --left: #a52020;
    --right: #a52020;
    --leftHover: #801919;
    --system: #000000;
    --systemHover: #ffffff;
}
:root{
    --borderButton: 50px;
    --borderWindows: 10px;
    --borderChatButton: 50px;
}

.auth{
    border-radius: var(--borderWindows);
    background-color: var(--authBg);
    width: rem;
    display: flex;
    flex-direction: column;

    /* PER CENTRARE */
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
    .auth h1{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .auth form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .auth form input{
        background-color: rgb(238, 238, 238);
        border: groove;
        border-color: var(--system);
        margin: auto;
        width: 300px;
        height: 50px;
        border-radius: var(--borderButton);
        font-weight: bold;
        font-size: 20px
    }
    .auth form button, button::placeholder{
        border-radius: var(--borderButton);
        width: 300px;
        height: 50px;
        margin: auto;
        font-weight: bold;
        font-size: 20px
    }
    .auth form input:hover{
        background-color: #ffffff;
    }
    .auth form input:active, .auth form input:focus{
        outline: none;
        background-color: #ffffff;
    }
    .auth form button{
        cursor: pointer;
        color: #ffffff;
        background-color: var(--system);
    }
    .auth form button:hover{
        background-color: var(--systemHover);
        color: #a52020;
    }
    .auth form button:focus{
        outline: none;
        background-color: var(--systemHover);
        color: #a52020
    }
    .auth a{
        text-align: center;
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding-top: 20px;
    }
    .auth a:hover{
        color: black;
    }

.footer a:link {
    color: white;
    text-decoration: none;
}

.footer a:visited {
    color: #a52920;
    text-decoration: none;
}

.footer a:hover {
    color: #a52020;
    text-decoration: none;
}

.footer a:active {
    color: white;
    text-decoration: none;
}